## Pandas tutorial

### Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structure and data analysis tools for the python programming langauage.

#### Agenda
- what is Data Frames?
- what is Data Series?
- Different operation in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
## Playing with DataFrame

df = pd.DataFrame(np.arange(0,20).reshape(5,4),index= ['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])

In [3]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [4]:
df.to_csv('Test1.csv')

In [6]:
## Accessoing the elements
## (1) .loc (2) .iloc

type(df.loc['Row1'])

pandas.core.series.Series

In [7]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [12]:
# Take the element from the Columns2
df.iloc[:,1:]
df.iloc[0:3,0:2]
df.iloc[0:1,0:1]

      Column1
Row1        0

In [13]:
# Convert DataFrames into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [14]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [15]:
df.shape

(5, 4)

## to check null value

In [17]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [19]:
df['Column1'].value_counts()
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [20]:
!git add .

warning: in the working copy of 'python-Learn/.ipynb_checkpoints/Pandas1-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'python-Learn/Pandas1.ipynb', LF will be replaced by CRLF the next time Git touches it

In [21]:
!git commit -m "part1"

[main a535ae0] part1
 3 files changed, 500 insertions(+)
 create mode 100644 python-Learn/.ipynb_checkpoints/Pandas1-checkpoint.ipynb
 create mode 100644 python-Learn/Pandas1.ipynb
 create mode 100644 python-Learn/Test1.csv

In [22]:
!git push

To https://github.com/PratyushPoddar07/DSA_on_Python.git
   ff57b9c..a535ae0  main -> main